# Node
**/node_modules/
**/.env

# Android
**/android/build/
**/android/.gradle/
**/android/app/build/

# iOS
**/ios/Pods/
**/ios/build/

# Logs
npm-debug.log*
yarn-error.log**firebase-adminsdk*.json
frontend/tecnitowerController/android/app/*firebase-adminsdk*.json
