<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8qhlXQA6MDeyV0Zw6iNgn-3sB7KX8uGY</string>
	<key>GCM_SENDER_ID</key>
	<string>60103465860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mai.tecnitowerController</string>
	<key>PROJECT_ID</key>
	<string>tecnitower-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tecnitower-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60103465860:ios:ff1b88a70bceecb00f5bd1</string>
</dict>
</plist>